.luz-semaforo {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px auto;
    background: gray;
}

.caja-semaforo {
    width: 70px;
    background: black;
    border-radius: 30px;
    padding: 5px;
    margin: 10px auto;
}

.centrar {
    text-align: center;
    margin-top: 15px;
}