body {
    background: url('../imagenes/fondo/fondo.jpg');
    background-size: 500px;
}

.jumbotron {
    border : 2px dotted black;
    border-radius: 20px;
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    overflow: hidden;
    opacity: 0.95;
}

.caja-titulo {
    height: 12vh;
    line-height: 12vh;
    background-color: purple;
    color: white;
    font-size: 2.5em;
}

.caja-jugador {
    height: 70vh;
    background-color: blue;
    color: white;
    padding-top: 15px;
}

.caja-accion {
    height: 70vh;
    background-color: rgb(189, 167, 41);
    color: white;
}

.caja-computadora {
    height: 70vh;
    background-color: crimson;
    color: white;
    padding-top: 15px;
}

.caja-resultado {
    height: 12vh;
    line-height: 12vh;
    background-color: black;
    color: white;
    font-size: 2em;
}

button {
    width: 90%;
    height: 90%;
    position: relative;
    top: 22px;
}

img {
    width: 80%;
    height: 55%;
    border-radius: 10px;
    position: relative;
}

#img-jugador {
    top: 20px;
}

#img-computadora {
    top: 50px;
}

select.form-control {
    width: 85%;
    margin: 0 auto;
}